/.continue/mcpServers/github-mcp.yaml
/containers/js-ts-frontend/project/node_modules
/containers/js-ts-frontend/project/dist
/containers/js-ts-frontend/project/frontend/dist
/containers/js-ts-frontend/project/frontend/src/entries/mvp-test/dist