@import url('./elements/ClientProfileUi/css/ClientProfileUi.css');

body {
    margin: 0;
    background: #f8fafc;
}

#app {
    position: absolute;
    top: 25vh;
    left: 50%;

    transform: translate(-50%, -50%);
}